body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-image: url(./Baseball\ diamond.jpg);
}

main{
    flex-grow: 1;
}

footer{
    height: 5vh;
}

.card{
    display: flex;
}