header{
    font-family: 'Press Start 2P', cursive;
}

body {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-image: url(./Baseball\ diamond.jpg);
    position:relative;
}

main{
    flex-grow: 1;
}

footer{
    height: 5vh;
}

.card{
    display: flex;
    font-family: 'Press Start 2P', cursive;
}

.upgrade-card{
    display: flex;
    justify-content: space-between;
    font-family: 'Press Start 2P', cursive;
}

.hitter-image{
    position:absolute;
    right: 19rem;
    top: 10rem;
    
}